.shipping{
    display:flex;
}
.shipping-input{
    margin:10px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border:1px solid rgb(201, 106, 72);
}


@media only screen and(width:"660px"){
    .shipping{
        display:block;
    }

}